.ram {
    display: flex;
    flex-direction: row;
    background-color: lightyellow;
}


.ram2 {
    display: flex;
    flex-direction: column;
    height: 750px;
    flex-grow: 3;

}

nav {
    display: flex;
    flex-direction: row;
    background-color: lightyellow;
    flex-grow: 0.2;
    justify-content: space-between;
}

.link {

}

header {
    background-color: transparent;
    flex-grow: 1;

}

article {
    background-color: white;
    flex-grow: 8;

}

footer {
    background-color: transparent;
    flex-grow: 1;

}

aside {
    display: flex;
    flex-direction: column;
    flex-grow: 0.5;
}

.fact {

}
.ram3 {
    display: flex;
    flex-direction: row;
}

.box {
    flex-grow: 1;

}